.video {
    position: absolute;
    /* positions out of the flow, but according to the nearest parent */
    top: 400px;
    right: 0;
    /* confuse it i guess */
    bottom: 0;
    left: 230px;
    margin: auto;
}

.container-image {
    margin-top: 435px;
    width: 100%;
    background-color: #222222;
}

.container-1 {
    width: 90%;
    padding-left: 150px;
    height: auto;
}

.gallery-head h1 {
    padding-bottom: 40px;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(13, 5vw);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    display: block;
}

.gallery h1 {
    position: absolute;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    font-weight: 600;
    background: #dc143d;
    color: #fff;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
    transition: 0.25s ease-in-out;
}

.item1:hover h1 {
    opacity: 0.5;
}

.item1:hover img {
    transform: scale(1.1);
}

.item2:hover h1 {
    opacity: 0.5;
}

.item2:hover img {
    transform: scale(1.1);
}

.item3:hover h1 {
    opacity: 0.5;
}

.item3:hover img {
    transform: scale(1.1);
}

.item4:hover h1 {
    opacity: 0.5;
}

.item4:hover img {
    transform: scale(1.1);
}

.item5:hover h1 {
    opacity: 0.5;
}

.item5:hover img {
    transform: scale(1.1);
}

.item6:hover h1 {
    opacity: 0.5;
}

.item6:hover img {
    transform: scale(1.1);
}

.item7:hover h1 {
    opacity: 0.5;
}

.item7:hover img {
    transform: scale(1.1);
}

.item8:hover h1 {
    opacity: 0.5;
}

.item8:hover img {
    transform: scale(1.1);
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item3 {
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
}

.item4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}

.item5 {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 10;
}

.item6 {
    grid-column-start: 4;
    grid-column-end: 11;
    grid-row-start: 10;
    grid-row-end: 13;
}

.item7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 13;
}

.item8 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}