.details-package {
    position: relative;
    width: 1000px;
    margin-left: 172px;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    box-shadow: 0 0 30px 12px;
}

.details-package a {
    padding: 12px 30px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.063rem;
    transition: all 0.5s ease;
    border: 4px solid #dc143d;
    color: #fff;
    margin-left: 20px;
}

.details-package a:hover {
    background-color: #dc143d;
}

.btn-detail {
    margin-top: 30px;
    margin-left: 180px;
}

.detail {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.detail ul {
    list-style: inside;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 60px;
    margin-right: 100px;
}

.detail h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #dc143c;
    margin-bottom: 10px;
    text-align: center;
}

.detail h2 {
    color: #dc143c;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.separator {
    width: 150px;
    height: 4px;
    background-color: #dc143c;
    margin-left: 400px;
    margin-bottom: 30px;
}

.book_now {
    position: relative;
    box-shadow: 0 0 30px 12px;
    overflow-y: scroll;
}

.overlay1 {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.overlay1.open {
    display: flex;
    animation: show-overlay 0.5s;
}

.overlay2 {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.overlay2.open {
    display: flex;
    animation: show-overlay 0.5s;
}

.overlay3 {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.overlay3.open {
    display: flex;
    animation: show-overlay 0.5s;
}

@keyframes show-overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.book {
    padding: 20px 20px;
    background: #fff;
    border-radius: 10px;
}

.header {
    position: relative;
}

.header h1 {
    text-align: center;
    text-transform: uppercase;
    color: #dc143d;
    padding-bottom: 7px;
    border-bottom: 2px solid #000;
}

.header i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    color: #dc143d;
}

.body {
    margin-top: 15px;
}

.body form .form-input {
    display: block;
    padding: 10px;
    outline: none;
    border: solid #dc143d 1px;
    border-radius: 25px;
    transition: 0.4s;
    width: 350px;
}

.body form textarea {
    width: 270px;
}

.body form select {
    display: block;
    padding: 10px;
    outline: none;
    border: solid #dc143d 1px;
    border-radius: 25px;
    transition: 0.4s;
    width: 350px;
}

.body form input:hover {
    border: solid #003893 1px;
}

.btn-book {
    min-width: 100px;
    background: #dc143c;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    border-radius: 25px;
}

.btn-book:hover {
    background: #003893;
}

.body form p {
    color: red;
    text-align: center;
}